global:
  tlsDisable: true

server:
  serviceAccount:
    annotations:
      eks.amazonaws.com/role-arn: ${vault_iam_role_arn}
  dataStorage:
    enabled: true
  standalone:
    enabled: true
  ha:
    enabled: false
    replicas: ${replicas}
    config: |
      ui = true

      listener "tcp" {
        tls_disable = 1
        address = "[::]:8200"
        cluster_address = "[::]:8201"
      }
      storage "raft" {
        path = "/vault/data"
      }
      service_registration "kubernetes" {}
    raft:
      enabled: true
      setNodeId: true
      config: |
        ui = true
  
        listener "tcp" {
          tls_disable = 1
          address = "[::]:8200"
          cluster_address = "[::]:8201"
        }
        storage "raft" {
          path = "/vault/data"
        }
        disable_mlock = true
        service_registration "kubernetes" {}
  ingress:
    enabled: true
    labels: {}
    annotations: |
      cert-manager.io/cluster-issuer: letsencrypt-prod
      kubernetes.io/ingress.class: nginx
    ingressClassName: nginx
    pathType: Prefix
    hosts:
      - host: ${ vault_server_host }
    tls:
      - secretName: vault-secret
        hosts:
          - ${ vault_server_host }

ui:
  enabled: true
  serviceNodePort: null
  annotations: {}
csi:
  enabled: true
injector:
  enabled: true
