global:
  tlsDisable: true

server:
  dataStorage:
    enabled: true
  standalone:
    enabled: true
  ha:
    enabled: true
    replicas: ${replicas}
    config: |
      ui = true
      listener "tcp" {
        tls_disable = 1
        address = "[::]:8200"
        cluster_address = "[::]:8201"
      }
      storage "consul" {
        path = "vault"
        address = "consul-consul-server.consul:8500"
      }
      service_registration "kubernetes" {}
  ingress:
    enabled: true
    labels: {}
    annotations: |
      nginx.ingress.kubernetes.io/rewrite-target: /
      cert-manager.io/cluster-issuer: letsencrypt
      kubernetes.io/ingress.class: nginx
    ingressClassName: nginx
    pathType: Prefix
    hosts:
      - host: ${ vault_server_host }
    tls:
      - secretName: vault-secret
        hosts:
          - ${ vault_server_host }

ui:
  enabled: true
  externalPort: 443
  serviceType: "ClusterIP"
  serviceNodePort: null
  targetPort: 8200

csi:
  enabled: true
injector:
  enabled: true
