global:
  tlsDisable: false

server:
  dataStorage:
    enabled: true
  standalone:
    enabled: true
  ha:
    enabled: true
    replicas: ${replicas}
    config: |
      ui = true

      listener "tcp" {
        tls_disable = 1
        address = "[::]:8200"
        cluster_address = "[::]:8201"
      }
      storage "consul" {
        path = "vault"
        address = "consul-consul-server.consul:8500"
      }
  ingress:
    enabled: false
    labels: {}
    annotations: |
      alb.ingress.kubernetes.io/load-balancer-name: vault
      alb.ingress.kubernetes.io/aws-load-balancer-backend-protocol: https
      alb.ingress.kubernetes.io/aws-load-balancer-ssl-ports: "443,8200"
      alb.ingress.kubernetes.io/healthcheck-path: "/ui/"
      alb.ingress.kubernetes.io/aws-load-balancer-internal: "false"
      alb.ingress.kubernetes.io/certificate-arn: ${ vault_acm_arn }
      alb.ingress.kubernetes.io/target-type: instance
      alb.ingress.kubernetes.io/scheme: internet-facing
      alb.ingress.kubernetes.io/security-groups: argocd-development-alb
      alb.ingress.kubernetes.io/listen-ports: [{"HTTP": 8200}, {"HTTPS":443}]
      alb.ingress.kubernetes.io/listen-ports: '[{"HTTP":8200},{"HTTPS":443}]'
    ingressClassName: alb
    pathType: Prefix
    hosts:
      - host: ${ vault_server_host }
    tls:
      - secretName: vault-secret
        hosts:
          - ${ vault_server_host }

ui:
  enabled: true
  externalPort: 443
  serviceType: "LoadBalancer"
  annotations: |
    service.beta.kubernetes.io/aws-load-balancer-ssl-cert: ${ vault_acm_arn }
    service.beta.kubernetes.io/aws-load-balancer-backend-protocol: https
    service.beta.kubernetes.io/aws-load-balancer-healthcheck-path: "/v1/sys/health"
    service.beta.kubernetes.io/aws-load-balancer-ssl-ports: "443,8200"
    service.beta.kubernetes.io/aws-load-balancer-type: nlb
    service.beta.kubernetes.io/aws-load-balancer-nlb-target-type: instance
    service.beta.kubernetes.io/aws-load-balancer-type: external
    service.beta.kubernetes.io/aws-load-balancer-scheme: "internet-facing"
    external-dns.alpha.kubernetes.io/hostname: ${ vault_server_host }
    external-dns.alpha.kubernetes.io/ttl: "30"

csi:
  enabled: true
injector:
  enabled: true
